[Desktop Entry]
Version=2.0.0
Name=Markdown Editor
Comment=Markdown Editor is an app for creating and editing .md files with ease
Exec=markdown-editor
Icon=${SNAP}/meta/gui/markdown-editor.png
Terminal=false
Type=Application
Categories=Utility;Application;
StartupWMClass=markdown-editor